.main {
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.1;
    min-height: 100%;
    width: 100%;
    position: relative;
    word-wrap: break-word;
    color: #777;
}

input {
    outline: none;
    font-size: 13px;
    color: #000000;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}
textarea {
    outline: none;
    resize: none;
    font-size: 13px;
    color: #000000;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-family: Segoe,"segoe_uiregular", Calibri, Candara,"Segoe UI",Optima,Arial,sans-serif;
}

h2.new_font_style{

    font-family: Segoe,"segoe_uiregular", Calibri,Candara,"Segoe UI",Optima,Arial,sans-serif;
    padding-left: 34px;
}
h2 {
    font-size: 30px;
    font-size: 26px;
    font-size: 26px;
    color: #006fb8;
    font-weight: bold;
    margin-bottom: 15px;
}



.main-picture {
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    background: url("../img/bg-main-new.jpg") center top no-repeat;
    position: absolute;
}

@media screen and (max-width: 480px) and (orientation: portrait){
    .main-picture {
        left: 0px;
        top: -24px;
        background: url("../img/bg-main-new-mobile_p.jpg") center top no-repeat;
        position: fixed;
        background-size: 100% 100%;
        background-size: cover;
        width: 100%;

    }
}

@media screen and (max-width: 480px) and (orientation: landscape){
    .main-picture {
        left: 0px;
        top: -24px;
        background: url("../img/bg-main-new-mobile_l.jpg") center top no-repeat;
        position: fixed;
        background-size: 100% 100%;
        background-size: cover;
        width: 100%;

    }
}

@media screen and (max-width: 768px){
    .main-picture {
        left: 0px;
        top: -24px;
        background: url("../img/bg-main-new-mobile_l.jpg") center top no-repeat;
        position: fixed;
        background-size: cover;
        width: 100%;

    }
}

.header {
    position: relative;
    margin: 0 auto 0 auto;
    background: #ffffff;
    max-width: 1070px;
}

.top-line {
border: 3px dashed orange;
border: 0px dashed orange;
    background: #0085dd;
    zoom: 1;
    display: block;
    height: 38px;
}

.header-wrap a{
color:#fff;
color:#f00;
}

.top-block {
    border: 3px dashed red;
    border: 0px dashed red;
        padding: 25px 23px 10px;
        min-height: 126px;
    }
        .top-block .row {
            margin-left: -5px;
            margin-right: -5px;
        }
        .top-block .row .col-md-3 {
            padding-left: 5px;
            padding-right: 5px;
        }

.top-block .search-block {
    margin-bottom: 16px;
}
    .search-block_inp {
        padding: 0px 5px 0 15px;
        padding: 0;
        height: 30px;
        height: 34px;
        width: calc(100% - 72px);
        display: inline-block;
        vertical-align: top;
        border: 1px solid #ff0000 ! important;
        border: 0px ! important;

    }
    .search-block_button{
        display: inline-block;
        height: 34px;
        vertical-align: top;
    }
    .search-block_inp input {

        padding: 0px 8px;
        margin: 0 -1px 0 0px;

        width: 100%;


        height: 32px;
        height: 34px;
        border: none;
        background: none;
        background: #ffffff;

        background-color: #ffffff;

        background: -moz-linear-gradient(top, #ffffff 0%,#ffffff 100%);
        background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
        background: linear-gradient(top, #ffffff 0%,#ffffff 100%);

        outline: none;

        border: 1px solid #c3c3c3;

        border-radius: 0px;

        -webkit-transition:all 400ms ease;
           -moz-transition:all 400ms ease;
             -o-transition:all 400ms ease;
            -ms-transition:all 400ms ease;
                transition:all 400ms ease;

    }
    .search-block_inp input:hover{

        border: 1px solid #c3c3c3;
        border: 1px solid rgba(0,113,188,.6);
        box-shadow: inset 0 0 3px rgba(0,113,188,.5);

    }

    .search-block_inp input:active,
    .search-block_inp input:focus{
        border: 1px solid #0071bc;
    }
    .search-block_btn {
        /*right: -1px;*/
        float: right;
        top: 0px;
        /*position: absolute;*/
        width: 68px;
        font-family: "segoe_uiregular";
        height: 32px;
        height: 34px;
        background: #dfe1e3;
        border: 1px solid #c8c8c8;
        border: 1px solid #c3c3c3;

        border-radius: 0px;

        cursor: pointer;
        outline: none;

        text-align: center;

        -webkit-transition:all 200ms ease;
           -moz-transition:all 200ms ease;
             -o-transition:all 200ms ease;
            -ms-transition:all 200ms ease;
                transition:all 200ms ease;


        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;



    }
    .search-block_btn:hover,
    .search-block_btn:active {
        border: 1px solid #0071bc;
        background: #c3c3c3;
        background: #0071bc;
        color: #5d5d5d;
        color: #fff;
    }
    .search-block.active .search-block_inp {
        border-color: #ffff33;
        border-color: #0071bc;
    }




.logotype img {
  max-width: 100%;
}

.logotype {
    font-size: 18px;
    color: #0085dd;
    text-decoration: none;
    display: block;
    zoom: 1;
    display: block;
}
.logotype:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.logotype_icon {
    height: 98px;
    width: 218px;
    background: url("../img/RR.png") no-repeat;
    background-size: contain;
    display: block;
    float: left;
}


@media (max-width: 480px) {
.logotype_icon{
    width: 132px;
}
}


.logotype_big {
    font-size: 28px;
    color: #0085dd;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}
.logotype_city {
    font-size: 25px;
    color: #0085dd;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.logotype:hover {
    color: #0085dd;
    text-decoration: none;
}
.logotype:active {
    color: #0085dd;
    text-decoration: none;
}

.contacts-block:hover {
    border: 0px dashed blue;
}
.contacts-block {
    font-family: "segoe_uiregular";
    font-size: 14px;
    margin-bottom: 9px;
}
    .contacts-block p {
        margin-bottom: 4px;
    }
    .contacts-block_phone {
        font: normal 22px/1 "Calibri", Arial, sans-serif;
        margin-bottom: 6px;
        color: #0085dd;
    }

.h-social {border: 0px dashed orange;
    zoom: 1;
    display: block;
    margin-bottom: 13px;
}

    .h-social:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .h-social_name {
        float: left;
        font-size: 16px;
        font-size: 14px;
        /*color: #000000;*/
        font-family: "segoe_uiregular";
    }

    .h-social .social-block {
        float: left;
        margin-left: 10px;
    }
        .h-social .social-block_item {
            margin: 0 5px;
        }

        .h-social .social-block_link:hover {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            -moz-opacity: 1.0;
            -khtml-opacity: 1.0;
            opacity: 1.0;
            background-position: center -22px;
        }
        .h-social .social-block_link:active {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            -moz-opacity: 1.0;
            -khtml-opacity: 1.0;
            opacity: 1.0;
            background-position: center -44px;
        }

.social-block.gr .social-block_link {
    display: inline-block !important;
}

/* header */
.social-block.gr .social-block_link.ic,
.b-share-icon_facebook {
    background: url("../img/soc-ic3.png") center top no-repeat;
    background-size: 8px auto;
    height: 16px;
    width: 11px;
}
.social-block.gr .social-block_link.ic1,
.b-share-icon_vkontakte {
    background: url("../img/soc-ic4.png") center top no-repeat;
    background-size: 10px auto;
    height: 16px;
    width: 14px;
}
.social-block.gr .social-block_link.ic2,
.b-share-icon_twitter {
    background: url("../img/soc-ic5.png") center top no-repeat;
    background-size: 16px auto;
    height: 16px;
    width: 18px;
}

.menu {
    width: 100%;
}

.navi-block {
border: 5px dashed violet;
border: 0px dashed violet;
    max-width: 1070px;
    margin: 0 auto;

    z-index: 10;
    position: relative;
}
.navi-block .navbar {
    min-height: 10px;
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.navbar-collapse{
    background: #0085dd;
    background: #fff;

}

.navi-block .navbar:before,
.navi-block .navbar:after,
.navi-block .navbar-collapse:before,
.navi-block .navbar-collapse:after {
    display: none;
}
.navi-block .navbar-collapse {
    padding: 0;
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle{
    background-color: #ffffff;
}

.navi-block .search-block,
.navi-block .vis-version,
.navi-block .h-social {
    display: none;
}

.main-navi_list {
    display: table;
    width: 100%;
}
.main-navi_item {
    list-style-type: none;
    display: table-cell;
}
.main-navi_link {
    font-size: 13px;
    text-align: center;
    background: #dfe1e3;
    color: #006fb8;
    text-transform: uppercase;
    display: block;
    height: 49px;
    line-height: 47px;
    border-bottom: 4px solid #0085dd;
    font-family: "segoe_uiregular";
    text-decoration: none;


    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}
.main-navi .main-navi_link:hover {
    text-decoration: none;
}
.main-navi .main-navi_item.active .main-navi_link,
.main-navi .main-navi_item:hover .main-navi_link {
    text-decoration: none;
    color: #6fb22a;
    border-color: #6fb22a;
}

.main-navi .main-navi__drop {
    top: 100%;
    position: absolute;
    border-bottom: 4px solid #6fb22a;
    display: none;
}
.main-navi .main-navi__drop_item {
    list-style-type: none;
}
.main-navi .main-navi__drop_link {
    color: #006fb8;
    text-transform: uppercase;
    background: #f2f2f2;
    border-left: 4px solid #f2f2f2;
    padding: 14px 23px;
    display: block;
    font-size: 14px;
    color: #006fb8;
    text-decoration: none;

}
.main-navi__drop_item.active .main-navi__drop_link,
.main-navi .main-navi__drop_link:hover {
    background: #f5f5f5;
    color: #6fb22a;
    border-color: #6fb22a;
    text-decoration: none;
}


.f-navi_list .main-navi__drop_item.active .main-navi__drop_link,
.f-navi_list .main-navi .main-navi__drop_link:hover {
    background: #f5f5f5;
    background: #006cb4;
    color: #fff;
    border-color: #6fb22a;
    text-decoration: none;
}

.main-navi_item:hover .main-navi__drop {
    display: block;
}



.m-footer .social-block {border: 0px solid yellow;
  /*  float: right;
    position: relative;
    margin-top: -65px;
    margin-top: -36px;
    margin-right: 15px;*/
    text-align: right;
    height: 20px;

}
.social-block_item, .b-share__handle {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.social-block_link, .b-share-icon {
    display: inline-block !important;
}

/* footer */
.social-block_link.ic {
    background: url("../img/soc-ic.png") center no-repeat;
    height: 22px;
    width: 24px;
}
.social-block_link.ic1 {
    background: url("../img/soc-ic1.png") center no-repeat;
    height: 22px;
    width: 24px;
}
.social-block_link.ic2 {
    background: url("../img/soc-ic2.png") center no-repeat;
    height: 22px;
    width: 24px;
}


.social-block .social-block_link:hover, .b-share-icon:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
        opacity: 0.7;
}
.social-block .social-block_link:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}


.scroll_top {border: 2px solid rgba(255,255,255,.8);
    background-color: #0085dd;
    background-color: rgba(0,133,221,.8);
    position: fixed;
    bottom: 0px;
    right: 20px;
    display: block;
    display: none;
    max-width: 1070px;
    padding: 0 25px 0 35px;
    margin: 0 auto 20px auto;
    border-radius: 2px;
}
.scroll_top a {
    display: block;
    color: #ffffff;
    padding: 0 10px;
    font-size: 24px;
    cursor: pointer;
    font-family: "segoe_uibold";
    text-transform: uppercase;
    text-decoration: none;
}

.scroll_top a:before{
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 15px 8px;
    content: "";
    height: 0;
    left: 22px;
    position: absolute;
    top: -5px;
    width: 0;
}

.content {
    border: 3px dashed red;
    border: 0px dashed red;

    max-width: 1070px;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
}

.content_services.content {
    background: none;
}

.services-section {
    margin-bottom: 92px;
    position: relative;
}

.services-section_ins {
    background: rgba(255,255,255,0.8);
    position: relative;
    padding: 20px 23px 0px;
}
.services-section_title {
    zoom: 1; display: block;
    margin-bottom: 24px;
}
.services-section_title:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.services-section_title h2 {
    float: left;
    text-transform: uppercase;
    margin: 0;
}
.services-section_title .more-link {
    float: right;
    margin-top: 9px;
}
.services-section_ins .col-md-2 {
    height: 175px;
    height: 150px;
}

.person-section {
    text-align: center;
    margin: 20px auto 15px auto;
    padding: 0 15px;
    max-width: 1070px;
}

.person-section_link {
    display: inline-block;
    margin: 15px auto;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "segoe_uibold";
}
.person-section_link_icon {
    display: block;
    text-align: center;
    width: 145px;
    padding: 7px;
    height: 145px;
    margin: 0 auto 10px auto;
    background: url("../img/icon12.png") no-repeat;
}

.person-section_link:hover {
    text-decoration: none;
    color: #ffffff;
}
.person-section_link:active {
    text-decoration: none;
    color: #ffffff;
}
.person-section_link:hover .person-section_link_icon {
    background-position: left -145px;
}
.person-section_link:active .person-section_link_icon {
    background-position: left -290px;
}

.m-footer {
    border: 1px solid #0085dd;
    display: block;
    position: relative;
   /* margin-top: -210px;*/
    background: #0085dd;
    /*overflow: hidden;*/
    padding-top: 10px;
    padding-bottom: 20px;
}
.m-footer_ins {display: block;
    max-width: 1070px;
    margin: 0 auto;
}

.f-navi {
    margin: 0 0px 22px;
    margin: 0 0px 30px;
    zoom: 1;
    display: block;
}
.f-navi:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.f-navi_list {
    margin: 0px 10px 0px 10px;
    position: relative;
}

.f-navi_list .main-navi_item {
    list-style-type: none;
    position: relative ;
    padding-top: 22px;
    text-align: center;
    float: left
}
.f-navi .main-navi_link .main-navi__drop:hover {
}
.f-navi_list .main-navi_link {
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    background: none;
    border-bottom: none;
    display: block;
    height: auto;
    line-height: 15px;
}
.f-navi ul.main-navi__drop {
    bottom: 36px;
    background: #0085dd;
    width: 250px;
    position: absolute;
    display: none;
    z-index: 10;
    border-bottom: none;
    top: auto;
}
.f-navi .main-navi_link:hover .main-navi__drop {
    display: block
}
.f-navi ul.main-navi__drop li.main-navi__drop_item {
    list-style-type: none;
}
.f-navi ul.main-navi__drop li.main-navi__drop_item a {
    color: #ffffff;
    display: block;
    padding: 11px 26px 12px;
    text-decoration: none;
    text-align: left;
}
.f-navi ul.main-navi__drop li.main-navi__drop_item a:hover {
    background: #006cb4;
    color: #ffffff;
    text-decoration: none;
}
.f-navi_link:hover {
    text-decoration: none;
    color: #ffffff;
}
.f-navi_link:active {
    color: #c5dff1;
}

.f-navi__drop {
    bottom: 42px;
    background: #0085dd;
    width: 250px;
    position: absolute;
    display: none;
    z-index: 10;
}
.f-navi__drop_item {
    list-style-type: none;
}
.f-navi__drop_link {
    color: #ffffff;
    display: block;
    padding: 11px 26px 12px;
    text-decoration: none;
}
.f-navi__drop_link:hover {
    background: #006cb4;
    color: #ffffff;
    text-decoration: none;
}
.f-navi__drop_link:active {
    color: #ffffff;
}
.f-navi_item:hover .f-navi__drop {
    display: block;
}

.f-box {
  /* min-height: 80px;*/
    background: #006cb4;
    padding: 17px 25px;
}
.f-box.social {
    padding: 17px 25px;
}

.f-box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ----- f-links ----- */
.f-links_list{border: 0px solid red;

}

.copy-right {
    display: block;
    margin-top: 15px;
    padding: 0px 10px;
    font-size: 12px;
    color: #ffffff;
}

body, html {
    height: 100%;
}
.clear {
    clear: both
}
ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    color: #006fb8;
    text-decoration: underline;
}

a:hover {
    color: #87bd57;
}

a:active {
    color: #52940e;
}

body {
    margin: 0;
}/*
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, section, summary {
    display: block;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}
input[type="search"] {
}
legend {
    padding: 0;
}
td, th {
    padding: 0;
}
*, *:after, *:before {
}

.option-lev1::before {
    content: "&#9;";
    display: block;
}

.option-lev2::before {
    content: "&#9;&#9;";
    display: block;
}