<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/aisgkn.css') }}" rel="stylesheet"/>
        {% endblock %}
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block process %}
        {% endblock %}

        {% block javascripts %}
			<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
